.NavBarStyle {
    color: whitesmoke;
    font-size: 23px;
    font-family: "Quattrocento Sans", "Montserrat";
    padding-top: 4vh;
}

.LinkStyle {
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
    margin-right: 25px;
}