.App {
  background: whitesmoke;
}

.FixedTop {
  background-color: #78c7cc;
  font-family: "Quattrocento Sans", "Montserrat";
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

h1 {
  color: antiquewhite;
  padding-left: 10vw;
}

.App-navBar {
  color: whitesmoke;
  font-size: 37px;
  margin-left: auto;
  margin-right: 10vw;
  display: flex;
}

.App-mainContent {
  margin-top: 8vh;
  padding: 3vw 18vw 10px 10vw;
}

.Footer {
  background-color: #78c7cc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}
