.App {
  background: whitesmoke;
}

.FixedTop {
  background-color: #78c7cc;
  font-family: "Quattrocento Sans", "Montserrat";
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

h1 {
  color: antiquewhite;
  padding-left: 10vw;
}

.App-navBar {
  color: whitesmoke;
  font-size: 37px;
  margin-left: 50vw;
  display: flex;
}
